<ion-view view-title="Job Description">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <img ng-src="{{info.img}}">
            <label>{{info.user}}</label>
            <label>{{info.jobname}}</label>
            <label>${{info.pay}}/{{info.hours}}</label>
            <label>{{info.category}}</label>
            <label>{{info.address}}</label>
            <label>{{info.extraInfo}}</label>
            <label>{{info.ageRestriction}}</label>
            <label>{{info.startDate}}-{{info.startTime}}</label>

            <button ng-click="collaborate()" ng-show="isChild" >Collaborate</button>
        </ion-list>
    </ion-content>
</ion-view>