<ion-view view-title="Add New Opportunity">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
  	<h1>New Opportunity</h1>
    <div>
      <input ng-model="jobname" type="text" placeholder="Job Name" />
      <input ng-model="pay" type="number" placeholder="Pay per hour" />
      <input ng-model="hours" type="number" placeholder="Hours" />
      <input ng-model="ageRestriction" type="number" placeholder="Age restriction" />
      <input ng-model="extraInfo" type="textarea" placeholder="Additional Infomation" />
    </div>
    <div>
      <button class="register-page-btn" ng-click="register(username, email, password, address)">Register</button>
    </div>
  </ion-content>
</ion-view>