<ion-view view-title="Add New Opportunity">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
  	<h1>New Opportunity</h1>
    <div>
      <input ng-model="data.jobname" type="text" placeholder="Job Name" />
      <input ng-model="data.startDate" type="text" placeholder="Start Date" />
      <input ng-model="data.startTime" type="text" placeholder="Start Time" />
      <input ng-model="data.hours" type="number" placeholder="Hours" />
      <input ng-model="data.pay" type="number" placeholder="Pay per hour" />
      <input ng-model="data.ageRestriction" type="number" placeholder="Age restriction" />
      <label class="select-category">Select Category</label>
      <select class="category-select" name="categorySelect" ng-model="data.category">
        <option ng-repeat="option in categories" value="{{option.id}}">{{option.id}}</option>
      </select>
      <label class="select-category additional">Additional Information</label>
      <textarea class="additional-info" ng-model="data.extraInfo" type="textarea"></textarea>
    </div>
    <div>
      <button class="register-page-btn" ng-click="addNewOpportunity()">Add New Opportunity</button>
    </div>
  </ion-content>
</ion-view>