<ion-view view-title="Opportunities">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content class="opp-content">
  <div class="home_banner">
    <img class="main_banner" src="./img/mowing.jpg" />
    <span>Child Labor</span>
    <p class="direction">Person</p>
    <p class="direction second">Job</p>
    <p class="direction third">Pay/Hrs</p>
    <img class="arrow" src="./img/arrow.png" />
    <img class="arrow second" src="./img/arrow.png" />
    <img class="arrow third" src="./img/arrow.png" />
  </div>
    <ion-list class="job-listing">
      <ion-item ng-repeat="job in jobs" href="#/jobdescription/{{job.id}}">
        <img class="job-img" ng-src="{{job.img}}" />
        <p class="job-name">{{job.jobname}}</p>
        <p class="job-pay">{{job.pay}}/{{job.hours}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
