<ion-view view-title="Register">
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
    </button>
  </ion-nav-buttons>
  <ion-content>
  	<h1>Register</h1>
    <div>
      <label>Username</label>
      <input ng-model="username" type="text" placeholder="Username" />
      <label>Email</label>
      <input ng-model="email" type="email" placeholder="Email" />
      <label>Password</label>
      <input ng-model="password" type="password" placeholder="Password" />
      <label>Address</label>
      <input ng-model="address" type="text" placeholder="Address" />
    </div>
    <div>
      <button ng-click="register(username, email, password, address)">Register</button>
    </div>
  </ion-content>
</ion-view>