/* Empty. Add your own CSS if you like */

body {
  font-family: Raleway !important;
}

ion-content {
  background: #e6ebeb;
}

ion-side-menu ion-content {
  background: #888;
}

.bar.bar-stable .title {
  font-family: Amatic SC;
  color: #fff;
  font-size: 34px;
  margin-top: 4px;
  text-shadow: 1px 1px 1px #428eb3;
}

.bar-stable .button.button-icon {
  margin-top: 2px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background: #555;
  height: 55px;
  position: fixed;
/*  box-shadow: 0px 0px 4px 0px #111;*/
}

.bar-stable .button.button-icon {
  color: #fff;
}

.bar.bar-stable {
  background: #888;
  height: 55px;
}

ion-header-bar.bar.bar-stable.bar-header h1 {
  font-family: Raleway;
  font-weight: bold;
  text-shadow: none;
  font-size: 25px;
  font-style: italic;
}

.menu-open .bar-stable .button.button-icon {
  color: #33AD33;
}

ion-list .list {
  margin-top: 10px;
}

ion-list .list .item {
  border-color: #888;
}

ion-list .list .item a.item-content {
    border: none;
    background: #555;
    color: #fff;
}

ion-view ion-content {
  padding-top: 50px !important;
}

ion-view ion-content div.scroll {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

ion-view ion-content div.scroll h1 {
    background: #428eb3;
    padding: 15px;
    color: white;
    border-radius: 100px 10px;
    font-size: 25px;
    margin-bottom: 50px;
  }

  ion-view ion-content div.scroll label {
    font-size: 22px;
    display: block;
    margin-bottom: -5px;
    font-style: italic;
/*    display: none;*/
  }

  ion-view ion-content div.scroll input {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .login-btn {
    background: #33AD33;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    float: left;
    margin-top: 50px;
  }

  .register-btn {
    background: #555;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    float: right;
    margin-top: 50px;
  }

  .register-page-btn {
    background: #33AD33;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-top: 30px;
    width: 100%;
  }

  .login-radio {
    width: 50%;
    float: left;
    border: none;
    font-size: 18px !important;
  }

  i.radio-icon {
    font-size: 18px !important;
    right: 20px !important;
    top: 3px !important;
    color: #33AD33;
  }

  .profile-content label {
    font-size: 20px !important;
    line-height: 25px;
    color: #444;
    text-shadow: 1px 1px 1px #fff;
    text-align: left;
    margin-bottom: 10px !important;
  }

  .profile-pic {
    border: solid 5px #000;
    border-radius: 110px;
    text-align: left;
    background-color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
  }

  .opp-content .scroll {
    width:100%;
    margin-top: -50px;
  }

  .opp-content .scroll img {
    width: 100%;
    margin-bottom: 20%;
  }

  .home_banner {
    margin-bottom: -10px;
    position: relative;
    background: #779FB2;
    border-bottom: solid 5px #fff;
  }

  .home_banner span {
    position: absolute;
    top: 33%;
    color: #fff;
    z-index: 99999;
    width: 100%;
    text-align: left;
    display: block;
    left: 0;
    text-align: center;
    font-size: 60px;
    font-family: Amatic SC;
    font-weight: bold;
    transform: rotate(-10deg);
    letter-spacing: 4px;
    text-shadow: 1px 1px 1px #444;
    text-decoration: underline;
  }

  .arrow {
    position: absolute;
    bottom: -25%;
    width: 40px !important;
    left: 5%;
    opacity: .6;
  }

  .arrow.second {
    left: calc(50% - 20px);
  }

  .arrow.third {
    left: auto;
    right: 5%;
  }

  .direction {
    position: absolute;
    font-family: Cedarville Cursive;
    bottom: 14%;
    font-size: 18px;
    left: 3.5%;
    color: #444;
    font-style: italic;
  }

  .direction.second {
    left: calc(50% - 13px);
  }

  .direction.third {
    left: auto;
    right: 5.5%;
  }

  .main_banner {
    border-bottom: solid 5px #fff;
  }

  .job-img {
    float: left;
    width: 14% !important;
    margin-bottom: 0px !important;
    border-radius: 50%;
  }

  .job-listing p {
    color: #fff;
  }

  .job-name {
    width: 50%;
    float: left;
    margin-left: 15%;
    margin-top: 4%;
  }

  .job-pay {
    float: right;
    margin-right: -13%;
    margin-top: 4%;
    width: 20%;
  }