/* Empty. Add your own CSS if you like */

body {
  font-family: Raleway !important;
}

ion-content {
  background: #e6ebeb;
}

ion-side-menu ion-content {
  background: #888;
}

.bar.bar-stable .title {
  font-family: Amatic SC;
  color: #fff;
  font-size: 34px;
  margin-top: 4px;
  text-shadow: 1px 1px 1px #428eb3;
}

.bar-stable .button.button-icon {
  margin-top: 2px;
}

[nav-bar-transition="ios"] [nav-bar="active"] .bar, [nav-bar-transition="ios"] [nav-bar="entering"] .bar {
  background: #555;
  height: 55px;
  position: fixed;
/*  box-shadow: 0px 0px 4px 0px #111;*/
}

.bar-stable .button.button-icon {
  color: #fff;
}

.bar.bar-stable {
  background: #888;
  height: 55px;
}

ion-header-bar.bar.bar-stable.bar-header h1 {
  font-family: Raleway;
  font-weight: bold;
  text-shadow: none;
  font-size: 25px;
  font-style: italic;
}

.menu-open .bar-stable .button.button-icon {
  color: #33AD33;
}

ion-list .list {
  margin-top: 10px;
}

ion-list .list .item {
  border-color: #888;
}

ion-list .list .item a.item-content {
    border: none;
    background: #555;
    color: #fff;
}

ion-view ion-content {
  padding-top: 50px !important;
}

ion-view ion-content div.scroll {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

ion-view ion-content div.scroll h1 {
    background: #428eb3;
    padding: 15px;
    color: white;
    border-radius: 100px 10px;
    font-size: 25px;
    margin-bottom: 50px;
  }

  ion-view ion-content div.scroll label {
    font-size: 22px;
    display: block;
    margin-bottom: -5px;
    font-style: italic;
/*    display: none;*/
  }

  ion-view ion-content div.scroll input {
    padding: 20px;
    height: auto;
    border-radius: 10px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
  }

  .login-btn {
    background: #33AD33;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    float: left;
    margin-top: 50px;
  }

  .register-btn {
    background: #555;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    float: right;
    margin-top: 50px;
  }

  .register-page-btn {
    background: #33AD33;
    padding: 10px 12%;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-top: 10px;
    width: 100%;
  }

  .login-radio {
    width: 50%;
    float: left;
    border: none;
    font-size: 18px !important;
  }

  i.radio-icon {
    font-size: 18px !important;
    right: 20px !important;
    top: 3px !important;
    color: #33AD33;
  }

  .profile-content label {
      text-align: left;
      margin-top: 20px;
      font-style: normal !important;
  }